<div class="container-fluid" *ngIf="showLogin">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
          <!-- Google Login -->
          <asl-google-signin-button class="google-btn-design" type='standard' size='medium'></asl-google-signin-button>
          
          <!-- Facebook Login -->
          <button class="btn btn-primary w-100 mb-3" (click)="signInWithFacebook()">Sign in with Facebook</button>
          
          <!-- Email/Password Login Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                placeholder="Enter email"
                class="form-control"
              />
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                formControlName="password"
                placeholder="Enter password"
                class="form-control"
              />
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="loginForm.invalid">Login</button>
          </form>

          <!-- Register Link (button) -->
          <div class="text-center mt-3">
            <button class="btn btn-link" (click)="showRegister(false)">Don't have an account? Register here</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
<app-register *ngIf="!showLogin" (sendDataToParent)="receiveData($event)"></app-register>