<div class="chat-container">
    <div class="messages">
      <div
        *ngFor="let msg of messages"
        [ngClass]="{ 'message-sent': msg.sender === 'other', 'message-received': msg.sender ===  'me' }"
      >
        {{ msg.text }}
      </div>
    </div>
    <div class="input-container">
      <input
        [(ngModel)]="message"
        placeholder="Type your message here"
        (keydown.enter)="sendMessage()"
      />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
  